.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    background-color: blue;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-size: 10vh;
        font-weight: 500;
        color: white;
        margin: auto;
    }
}